<a href="https://colab.research.google.com/github/GabrielAzpitarte/Machine-learning-projects/blob/main/LSTM_name_generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notre premier LSTM
On va utiliser nos propres données de prénoms

In [ ]:
liste_prenoms = ["Benjamin", "Danylo", "Paul", "Ethan", "Hazem", "Noé", "Raphaël", "Karliss", "Gabriel",
                 "Timothée","Soizic","Adrien","Théo","Maeva","Samy","Camille","Romain","Alexandre","Arthur"]

##Mise en forme des données
On va faire une chaîne de caractère qui joint tous les éléments de la liste.

Pour ce faire, on va utiliser la méthode str.join(list)

In [ ]:
#On commence par chercher la longueur des séquences
longueur_sequence = 0

#Il va falloir mettre cette longueur par rapport au plus long nom
for prenom in liste_prenoms :
  longueur = len(prenom)

  #si la longueur du prénom est plus grande que celle de la séquence, on update cette dernière
  if longueur > longueur_sequence :
    longueur_sequence = longueur

#On ajoute 1 pour prendre en compte le séparateur ' '
longueur_sequence += 1

print("Longueur des séquences :", longueur_sequence)

Longueur des séquences : 10

In [ ]:
#On peut maintenant faire notre chaîne de prénoms :
chaine_prenoms = ' '.join(liste_prenoms).lower()

#On ajoute un espace à la fin
chaine_prenoms += ' '

print("Chaîne des prénoms :", chaine_prenoms)

Chaîne des prénoms : benjamin danylo paul ethan hazem noé raphaël karliss gabriel timothée soizic adrien théo maeva samy camille romain alexandre arthur

In [ ]:
print(chaine_prenoms.capitalize())

Benjamin danylo paul ethan hazem noé raphaël karliss gabriel timothée soizic adrien théo maeva samy camille romain alexandre arthur

On va faire une liste des différentes lettres et on pourra ainsi remplacer le caractère dans chaine_prenom par son indice.

In [ ]:
liste_lettres = []

#Pour chaque lettre de la chaine, on ajoute la lettre à liste_lettres si elle n'est pas déjà dedans
for lettre in chaine_prenoms :
  if lettre not in liste_lettres :
    liste_lettres.append(lettre)

print("Nombre de caractères différents :",len(liste_lettres))
print(liste_lettres)
print('indice de la lettre h :', liste_lettres.index('h'))

Nombre de caractères différents : 26
['b', 'e', 'n', 'j', 'a', 'm', 'i', ' ', 'd', 'y', 'l', 'o', 'p', 'u', 't', 'h', 'z', 'é', 'r', 'ë', 'k', 's', 'g', 'c', 'v', 'x']
indice de la lettre h : 15

On va pouvoir créer les séquences glissées sur la chaîne de prénoms

In [ ]:
#On va créer les séquences et la lettre suivante en même temps
sequences = []
lettres_suivantes = []

#On récupère la longueur de la chaîne de prénoms :
longueur_chaine = len(chaine_prenoms)

#on va faire une boucle sur des indices entre 0 et longueur_chaine - longueur_sequence :
for indice in range(0, longueur_chaine - longueur_sequence) :
  #on récupère une séquence dans chaîne nombre située entre indice et indice + longueur_sequence
  sequence = chaine_prenoms[indice : indice + longueur_sequence]
  #on récupère la lettre suivante :
  lettre_suivante = chaine_prenoms[indice + longueur_sequence]

  #On ajoute ces derniers éléments à nos 2 listes
  sequences.append(sequence)
  lettres_suivantes.append(lettre_suivante)

print("Nombre de séquences :", len(sequences))
#Vérification sur les 10 premiers éléments et le dernier
#On utilise enumerate() pour récupérer l'indice et l'élément de la liste avec for
for indice,sequence in enumerate(sequences[:10]):
  print("Séquence :", sequence, "    Lettre suivante :",lettres_suivantes[indice])

print()
print("Dernières occurences :")
print("Séquence :", sequences[-1], "    Lettre suivante :",lettres_suivantes[-1])

Nombre de séquences : 122
Séquence : benjamin d     Lettre suivante : a
Séquence : enjamin da     Lettre suivante : n
Séquence : njamin dan     Lettre suivante : y
Séquence : jamin dany     Lettre suivante : l
Séquence : amin danyl     Lettre suivante : o
Séquence : min danylo     Lettre suivante :
Séquence : in danylo      Lettre suivante : p
Séquence : n danylo p     Lettre suivante : a
Séquence :  danylo pa     Lettre suivante : u
Séquence : danylo pau     Lettre suivante : l

Dernières occurences :
Séquence : dre arthur     Lettre suivante :

## Création des X, Y

In [ ]:
import numpy as np
from tensorflow.keras.utils import to_categorical

#On stocke la longueur de liste_lettres
categories = len(liste_lettres)

#on va commencer par créer les X
X=[]

#on crée une boucle sur les séquences
for sequence in sequences :
  #on va créer une liste vide pour récolter les indices des caractères
  liste = []
  for caractere in sequence :
    #on récupère l'indice correspondant au caractère
    indice = liste_lettres.index(caractere)
    #on ajoute l'indice à la liste
    liste.append(indice)

  #on convertit tout de suite avec to_categorical pour avoir un vecteur de proba de 26 éléments
  liste = to_categorical(liste,categories)
  #On ajoute la liste dans X
  X.append(liste)

X= np.asarray(X)
print(X.shape)

#pour les Y, on ne change pas de méthode
#il faut quand même convertir les caractères en indice
Y=[]
for caractere in lettres_suivantes :
  indice = liste_lettres.index(caractere)
  Y.append(indice)

#to_categorical
Y = to_categorical(Y,categories)

print(Y.shape)

(122, 10, 26)
(122, 26)

##Réseau de neurones avec LSTM

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

modele = Sequential()

#On ajoute en entrée une couche de neurones LSTM
modele.add(LSTM(64, input_shape = (longueur_sequence,categories), recurrent_dropout = 0.1))

#On ajoute la sortie
modele.add(Dense(categories, activation='softmax'))

modele.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 64)                23296

 dense (Dense)               (None, 26)                1690

=================================================================
Total params: 24,986
Trainable params: 24,986
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from tensorflow.keras.optimizers import RMSprop

optimizer = RMSprop(learning_rate = 0.01)

modele.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy',])

modele.fit(X, Y, batch_size = 8, epochs = 30)

modele.save('name_generator.h5')

Epoch 1/30
16/16 [==============================] - 7s 27ms/step - loss: 3.1303 - accuracy: 0.0902
Epoch 2/30
16/16 [==============================] - 0s 27ms/step - loss: 2.9120 - accuracy: 0.1803
Epoch 3/30
16/16 [==============================] - 0s 24ms/step - loss: 2.8332 - accuracy: 0.1967
Epoch 4/30
16/16 [==============================] - 0s 28ms/step - loss: 2.6608 - accuracy: 0.2623
Epoch 5/30
16/16 [==============================] - 0s 26ms/step - loss: 2.4674 - accuracy: 0.2787
Epoch 6/30
16/16 [==============================] - 0s 23ms/step - loss: 2.2861 - accuracy: 0.3279
Epoch 7/30
16/16 [==============================] - 0s 20ms/step - loss: 2.0249 - accuracy: 0.3607
Epoch 8/30
16/16 [==============================] - 0s 20ms/step - loss: 1.8747 - accuracy: 0.3934
Epoch 9/30
16/16 [==============================] - 0s 20ms/step - loss: 1.6677 - accuracy: 0.4836
Epoch 10/30
16/16 [==============================] - 0s 20ms/step - loss: 1.4754 - accuracy: 0.5000
Epoch 11/30
16/16 [==============================] - 0s 22ms/step - loss: 1.2902 - accuracy: 0.5902
Epoch 12/30
16/16 [==============================] - 0s 27ms/step - loss: 1.0031 - accuracy: 0.7131
Epoch 13/30
16/16 [==============================] - 0s 28ms/step - loss: 0.8523 - accuracy: 0.7459
Epoch 14/30
16/16 [==============================] - 0s 25ms/step - loss: 0.7353 - accuracy: 0.8197
Epoch 15/30
16/16 [==============================] - 0s 27ms/step - loss: 0.5451 - accuracy: 0.8934
Epoch 16/30
16/16 [==============================] - 0s 25ms/step - loss: 0.4212 - accuracy: 0.9426
Epoch 17/30
16/16 [==============================] - 0s 25ms/step - loss: 0.3135 - accuracy: 0.9672
Epoch 18/30
16/16 [==============================] - 0s 26ms/step - loss: 0.2939 - accuracy: 0.9590
Epoch 19/30
16/16 [==============================] - 0s 25ms/step - loss: 0.2253 - accuracy: 0.9590
Epoch 20/30
16/16 [==============================] - 0s 22ms/step - loss: 0.1829 - accuracy: 0.9918
Epoch 21/30
16/16 [==============================] - 0s 26ms/step - loss: 0.1519 - accuracy: 0.9754
Epoch 22/30
16/16 [==============================] - 0s 22ms/step - loss: 0.0909 - accuracy: 0.9836
Epoch 23/30
16/16 [==============================] - 0s 22ms/step - loss: 0.1094 - accuracy: 0.9836
Epoch 24/30
16/16 [==============================] - 0s 25ms/step - loss: 0.1412 - accuracy: 0.9754
Epoch 25/30
16/16 [==============================] - 0s 25ms/step - loss: 0.0473 - accuracy: 1.0000
Epoch 26/30
16/16 [==============================] - 0s 25ms/step - loss: 0.0261 - accuracy: 1.0000
Epoch 27/30
16/16 [==============================] - 0s 23ms/step - loss: 0.0271 - accuracy: 1.0000
Epoch 28/30
16/16 [==============================] - 0s 23ms/step - loss: 0.0717 - accuracy: 0.9836
Epoch 29/30
16/16 [==============================] - 0s 20ms/step - loss: 0.0352 - accuracy: 0.9918
Epoch 30/30
16/16 [==============================] - 0s 21ms/step - loss: 0.0131 - accuracy: 1.0000

##Création du prédicteur

In [ ]:
from random import choice

#On va décider de la première lettre :
#lettre = 'é'
lettre = choice(liste_lettres)

#On récupère la dernière séquence
sequence="dre arthur"

#On ajoute à la fin un caractère espace et la lettre choisie et on supprime les 2 premiers caractères
sequence += ' ' + lettre
sequence = sequence[2:]

#print(len(sequence),sequence)

#On crée une nouvelle chaine pour stocker les prénoms générés en commençant par la lettre choisie :
prenoms_generes = lettre

#On donne combien de noms vont être générés :
nombre_noms = 10

while nombre_noms > 0 :
  X = []

  #on recrée X
  for caractere in sequence :
    indice = liste_lettres.index(caractere)
    X.append(indice)

  #On to_categorical X
  X = to_categorical(X, categories)

  #il faut reshape X pour avoir un tenseur en 3 dimensions
  X = np.reshape(X, (1,X.shape[0],X.shape[1]))
  #print(X.shape)

  #On prédit le vecteur de probabilités
  probas = modele.predict(X, verbose = 0)
  probas = probas[0]

  #On choisit aléatoirement l'indice parmi les catégories en utilisant la distribution calculée
  indice = np.random.choice(categories, p=probas)

  #On récupère la lettre correspondante et on l'ajoute à la liste des prénoms
  lettre = liste_lettres[indice]
  prenoms_generes += lettre

  #On refait la séquence d'entrée du prédicteur
  sequence += lettre
  sequence = sequence[1:]

  #Si la lettre est le séparateur, on a nouveau nom
  if lettre == ' ':
    nombre_noms -= 1
    print("noms générés : ", 10 - nombre_noms)

prenoms = prenoms_generes.split()
print("Voici les 10 prénoms générés")
for prenom in prenoms :
  print(prenom.capitalize())

noms générés :  1
noms générés :  2
noms générés :  3
noms générés :  4
noms générés :  5
noms générés :  6
noms générés :  7
noms générés :  8
noms générés :  9
noms générés :  10
Voici les 10 prénoms générés
Oamhl
Earlic
Adre
R
Thée
Mazicc
Arriel
Théo
Maeva
Samy

In [ ]:
print(prenoms)

['oamhl', 'earlic', 'adre', 'r', 'thée', 'mazicc', 'arriel', 'théo', 'maeva', 'samy']

In [ ]:
liste_prenoms = ["Benjamin", "Danylo", "Paul", "Ethan", "Hazem", "Noé", "Raphaël", "Karliss", "Gabriel",
                 "Timothée","Soizic","Adrien","Théo","Maeva","Samy","Camille","Romain","Alexandre","Arthur"]

'a'

#Avec des listes de prénoms déjà faites

On va utiliser la liste de prénoms donnée ici : https://www.data.gouv.fr/fr/datasets/liste-de-prenoms/#resources

In [ ]:
import os

!wget "https://www.data.gouv.fr/fr/datasets/r/55cd803a-998d-4a5c-9741-4cd0ee0a7699"
os.rename("/content/55cd803a-998d-4a5c-9741-4cd0ee0a7699","/content/prenoms.csv" )

--2023-01-28 13:12:23--  https://www.data.gouv.fr/fr/datasets/r/55cd803a-998d-4a5c-9741-4cd0ee0a7699
Resolving www.data.gouv.fr (www.data.gouv.fr)... 37.59.183.93
Connecting to www.data.gouv.fr (www.data.gouv.fr)|37.59.183.93|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://static.data.gouv.fr/resources/liste-de-prenoms/20141127-154433/Prenoms.csv [following]
--2023-01-28 13:12:25--  https://static.data.gouv.fr/resources/liste-de-prenoms/20141127-154433/Prenoms.csv
Resolving static.data.gouv.fr (static.data.gouv.fr)... 37.59.183.93
Connecting to static.data.gouv.fr (static.data.gouv.fr)|37.59.183.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 265821 (260K) [text/csv]
Saving to: ‘55cd803a-998d-4a5c-9741-4cd0ee0a7699’

55cd803a-998d-4a5c- 100%[===================>] 259.59K   245KB/s    in 1.1s

2023-01-28 13:12:27 (245 KB/s) - ‘55cd803a-998d-4a5c-9741-4cd0ee0a7699’ saved [265821/265821]

In [ ]:
import pandas as pd

#Attention, les caractères du csv sont codées en latin-1 et non en utf-8
#Bien évidemment, les créateurs n'ont pas utilisés une virgule comme séparateur mais un ;
data_prenoms = pd.read_csv("prenoms.csv", sep=";", encoding = 'latin-1')

data_prenoms.columns = ['prenom','genre','langage','frequence']
data_prenoms.sample(20)

,prenom,genre,langage,frequence
1010,aurora,f,roman mythology,0.29
6637,livia (1),f,"italian, portuguese, english, ancient roman",0.00
1121,banu,f,turkish,0.00
4371,hajna,f,hungarian,0.00
9795,shana,f,english,0.00
4099,glendower,m,welsh,0.00
6131,kondrat,m,polish,0.03
845,arkadi,m,russian,0.03
2228,costel,m,romanian,0.00
10859,ulric,m,english,0.00
10962,varg,m,norwegian,0.00
7290,mateusz,m,polish,0.00
10571,thracius,m,ancient roman,0.00
5681,justus,m,ancient roman,0.16
3028,elissa (1),f,roman mythology,0.00
992,augusto,m,"spanish, italian, portuguese",2.55
9886,shevaun,f,"irish, english",0.00
1369,bilhah,f,biblical,0.00
1435,boleslawa,f,polish,0.00
99,adi,f,jewish,0.00

In [ ]:
data_prenoms_sansna = data_prenoms.dropna()

data_prenoms_sansna[data_prenoms_sansna.prenom.str.contains("livia")]

         prenom genre                                      langage  frequence
6637  livia (1)     f  italian, portuguese, english, ancient roman       0.00
6638  livia (2)     f                                      english       0.00
6639    liviana     f                       italian, ancient roman       0.00
8243     olivia     f                                      english       1.27

In [ ]:
data_prenoms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11627 entries, 0 to 11626
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prenom     11626 non-null  object
 1   genre      11627 non-null  object
 2   langage    11627 non-null  object
 3   frequence  11627 non-null  float64
dtypes: float64(1), object(3)
memory usage: 363.5+ KB

In [ ]:
from tqdm import tqdm

#On remplit les NA de langage par 'french'
data_prenoms["langage"] = data_prenoms["langage"].fillna(value="french")

#On va récupérer seulement les noms qui ont comme langue 'french'
#data_prenoms_french = data_prenoms[data_prenoms.langage.str.contains('french')]

#si on veut sélectionner plusieurs langues
data_prenoms_ita_french = pd.concat([data_prenoms[data_prenoms.langage.str.contains('french')], data_prenoms[data_prenoms.langage.str.contains('italian')]])

#On récupère la colonne avec les prénoms
prenoms = data_prenoms_ita_french['prenom']

#On supprime les éléments vide avec dropna
prenoms = prenoms.dropna()

#on la convertit en liste
liste_prenoms = []

for prenom in tqdm(prenoms):
  #S'il y a une parenthèse, on ne garde que le prénom
  if '(' in prenom :
    prenom = prenom.split()[0]

  #On vérifie qu'il n'y ait pas de doublons
  if prenom not in liste_prenoms and '(' not in prenom :
    liste_prenoms.append(prenom)

100%|██████████| 1698/1698 [00:00<00:00, 67707.30it/s]

In [ ]:
print(len(liste_prenoms))

1692

In [ ]:
#si on veut sélectionner plusieurs langues
data_prenoms_ita_french = pd.concat([data_prenoms[data_prenoms.langage.str.contains('french')], data_prenoms[data_prenoms.langage.str.contains('italian')]])

data_prenoms_ita_french.sample(20)

,prenom,genre,langage,frequence
6403,lazare,m,french,4.43
3265,estachio,m,italian,0.00
4787,ianthina,f,french,0.00
11464,yvette,f,french,2.20
2075,clément,m,french,6.69
367,alfredo,m,"italian, spanish, portuguese",0.41
9089,régine,f,french,0.35
7274,marzio,m,italian,0.00
3254,esmée,f,french,0.96
3793,gaétan,m,french,0.03
3404,fabiola,f,"italian, french, german",0.10
1743,carmela,f,"italian, spanish",0.03
7455,meraud,f,french,0.00
820,arianne,f,french,0.00
4031,gilles,m,french,8.76
6361,laurent,m,french,28.80
8730,placida,f,"late roman, italian",0.00
5305,jean-baptiste,m,french,0.00
7186,marise,f,french,0.03
11111,virginia,f,"english, italian, spanish, portuguese, danish,...",3.03

In [ ]:
data_prenoms_ita_french.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1698 entries, 29 to 11572
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prenom     1698 non-null   object
 1   genre      1698 non-null   object
 2   langage    1698 non-null   object
 3   frequence  1698 non-null   float64
dtypes: float64(1), object(3)
memory usage: 66.3+ KB

##Mise en forme des données
On va faire une chaîne de caractère qui joint tous les éléments de la liste.

Pour ce faire, on va utiliser la méthode str.join(list)

In [ ]:
#On commence par chercher la longueur des séquences
longueur_sequence = 0

#Il va falloir mettre cette longueur par rapport au plus long nom
for prenom in liste_prenoms :
  longueur = len(prenom)

  #si la longueur du prénom est plus grande que celle de la séquence, on update cette dernière
  if longueur > longueur_sequence :
    longueur_sequence = longueur

#On ajoute 1 pour prendre en compte le séparateur ' '
longueur_sequence += 1

print("Longueur des séquences :", longueur_sequence)

Longueur des séquences : 14

In [ ]:
#On peut maintenant faire notre chaîne de prénoms :
chaine_prenoms = ' '.join(liste_prenoms).lower()

#On ajoute un espace à la fin
chaine_prenoms += ' '

print("Chaîne des prénoms :", chaine_prenoms)

Chaîne des prénoms : abel absolon achille adair adam adara adélaïde adèle adeline aden adena adolphe adonia adrien adrienne afra agathe aglea agnès aiden aimé aimée alain albert albertine aldrick alexandre alexandrie alexis alfred aliah alice aline alison alodia alphonse alphonsine alphonsus alta alva amara amarante amardad amaury ambre ambroise amédée amélie aminta amynta anaïs anastasie anatole andré andrée angèle angeline angelique anika anne annette ansel anselme antoine antoinette aphra apollinaire apolline aracelis aracely araminta aran ariane arianne arienne arik aristide arlen arlette armand armel armelle arnaud arnaude aryana ashanti ashtad athelstan atticus aude auguste augustin aurèle aurélie aurelien aurore avia avra avril axelle aylmer azarias azeneth balfour baptiste barbara barnabé barthélémy basile bastien baudouin béatrice beavis bénédicte benjamin benjamine benoit benoite berlin bernadette bernard bernardine berthe bertrand blaine blaise blanche boniface brannon brenna brice brielle brigitte brin bron brunette bruno brynne bryson cadi caetlin cai cailin calix camille cande capricia caprina caramia cari carine carole caroline carran catherine catina cécile céleste célestin célestine celina céline cerise cesaire césar chania chantal chanté charles charline charlot charlotte chloé christelle christen christian christiane christianne christine christophe ciera cierra cilla cissy claire clarette clarice clarisse claude claudette claudine clémence clément clementine cletes cletis clothilde clovia cnut coby colette colombain colombe conner constance constant constantin conway corentin corin corinne cort cosette cosma cristen cunégonde cyprian cyra cyrille damien dania danica daniel danièle danielle danika danita danya davena david davinia deja delora delphia delphina delphine delphinia delshad denis denise dennis derry desi désiré désirée desta devan dezi diane dianne didier dieudonné dieudonnée dilshad dimitri diodore dion dobrogost dominica dominique donat donatien donatienne donelle doretta doriane dorita dorothée dory dosia drina drummond durand eben ebert edana edgar edgard édith edmond edmonda édouard edsel edwige eiran elario elba elbert eléonore elfa éliane elidi elisabeth élise elita elma élodie eloi éloise elsabeth elva elvina ely elyse elysia emeline emeric émile emilian émilie émilien emma emmanuel emmanuelle era erasmus eric erma ermenegilde esmé esmée essa estee esther étienne eugène eugénie eulalie eulia eustache eustacia évariste eve everild evette evonne evrard ezar fabien fabienne fabiola fabrice faramond fastred faustine félicie felicien felicienne felina félix ferdinand fernand fernande ferrer fiacre fidelia fifi filander filbert filibert findlay firenze firmin flavian flavie florence florentin floretta florette florian florianne florine fonsie francine franck françois françoise fravardin frea frédéric frédérique fulbert gabriel gabrielle gaétan gaetane gaspard gaston gautier geneviève genevra geoffroi georges georgette georgine gérald gérard géraud germain germaine german gervais gervaise gervasius gerwulf ghislain ghislaine gigi gilbert gilberte gilbertine gill gilles gisèle giselle gisselle glenice gobnata godelieve goretti gracilia gratien grégoire guendolen guenevere guillaume gusta gustave guy gwenaelle gweneth gwenneth gyneth hadyn halcyon hamnet hamo hamon hannah hayden haydn hector heida hélène héloïse henri henriette herbert hercule hereward herk hermine hervé hilaire hilbert hippolyte honoré honorine horace hormazd hormazed hortense hosanna hosannah hoyt hrodohaidis hubert hugues humbert hyacinthe ianthina idesta idetta ignace ignatius ilbert ilma ilsa ima inès inglebert iola iréné irène irénée irwin isabel isabelle isadora isebella isidore isleen issy ives ivette ivonette jacinthe jacobina jacqueline jacques jafet jahel japeth jayel jayma jean jean-baptiste jeanine jean-marie jeanne jeannette jeannine jeannot jeptha jérémie jérôme jeunesse joachim joannes joceline joël joelle joisse jolie josée joseph josèphe joséphine josette josiane josue jourdain judith jules juliane julie julien julienne juliette julitta juste justin justine kaila kaolin karena karina karyna kasimir kasimira katina keara keithia kelan kelda kelia khara khordad kiara kiaran kiarra kieron kierra kirsa kohinoor kris laird lambert lamont lanty lari laure laurence laurent laurentine laurette lazare léa leandra léandre lecia leith lemmy leolin léon léonard léonce léonie léonne léontine léopold lesia liane liddy ligia lionel liouba lisette livvy loic lorette loris lothaire louis louise loup luc lucas luce lucie lucien lucienne lucile lucille lucinde lucrece lunete lure lyall lyda lydie madeleine madeline maeja maeva mahala mahalia malakai malamis malika malone manon marc marcel marceline marcelle marcellette marcellin marcelline maresol margot marguerite mariamne marian marianne marie marielle mariette marin marine marise marius marquita marthe martin martine mathieu mathilde mathis matthieu maurice mavreena maxime maximilien maximilienne mayim mayme meaveen mehalia mélanie melesina melina meliora mélissa melle meraud mica michel michèle micheline michelle mignon milburga milogost minta minty mirabelle mireille modeste modestine monet monique monta morgaine morgane mose muriel myriam myrrine mysie nadia nadine nanook nanuk narca narcisse natalie nathalie nazaire nereza nerida neva nicholas nicodème nicolas nicole nicolette nina ninette ninon noé noel noele noella noelle noémie nuadha nyala nyssa océane odessa odette odila odile odilon odo odoacer olivie olivier olympe olympia onesime oral oriane orianne orinda ormonda ormonde orpa orpha osanne ossia otho otthild ottila ouida ozanne papillion parnel parth pascal pascale pascaline paschal patrice patrick paul paule paulette pauline pénélope perceval perele pernel peronelle perrine peterkin petranella philander philbert philibert philippe philippine pierre pierrick placide pons praxis prosper ptolema purdie quentin quinlan quintella raban rachel rainier raoul raphaël raphael raymond raymonde reah rébecca régine régis reine rémi rémy renard renaud rené renée retha reva reynaud richard richelle ríghnach rika rilla rio robena robert roch rochelle rodolph rodolphe rodrigue roger rohesia rolan roland rolande roma romain romaine romane rosabel rosalie rosalinda rosalva rose roselle rosemonde rosette roshni rosine roxane roxanne rubina sabas sabine sacha salena salina salman salomé salvalus samuel sandrine sans sarah sarava sarosh savalus schwanhild scilla sébastien sébastienne sence sens seraphine serge séverin sévérine shad shahpur shehrevar shelena shelia shena sheona sibylle sidonie sieghild siena sienna simon simone solange sophie steffie stéphane stéphanie suzanne suzette swithin swithun sybille sylvain sylvaine sylvestre sylviane sylvianne sylvie taegan taletta tamia tamson tatienne tearach tecla tegan telesphore terese teris than thecla theirn théo théodore théophile thérèse thibault thierry thirza thomas thyrza tierra timeus timoteus timothée tivoli toinette torcall toussaint tovia toya tria tristan tully ulbrecht ulrich urbain urias urvakhsha valdis valentin valentine valère valérie valéry valeska velda vena venetia vern verona véronique vespasien veva victoire victor victorine vienne vilmar vina vincent violette virginie vivien vivienne walburga wigburg wilbert wilda wislaw xanthia xara xavia xavier xylina yadira yan yanick yann yannic yannick yolande yseult yves yvette yvon yvonne zacharie zelpah zelpha zenia zephania zephyra zephyrine zeta zoé zona adalberto adamo adelina adolfo adriana adriano agata agnese agostina agostino alba alberta albertina alberto albina aldo alessa alessandra alessandro alessia alessio alfeo alfonsina alfonso alfreda alfredo allegra alonzo alphonso amadeo amato ambra ambrogino ambrogio amedea amedeo amerigo anacleto anastasio andrea angela angelica angelina angelo anna annabella annetta annunciata annunziata anselma anselmo antonella antonello antonia antonietta antonino antonio arabella arcangelo arduino arianna armando arnaldo aroldo arrigo arturo assunta attilio augusta augusto aurelia aurelio baldassare bartolomeo basilio battista beatrice bella benedetta benedetto beniamino benigna benigno benito benvenuto beppe berenice bernardetta bernardino bernardo bertoldo bertrando bettina bettino biagino biagio bianca bibiana bice bonaventure bonifacio brigida bruna brunella callisto calogera calogero calvino camilla camillo caprice carla carlo carlotta carmela carmina carmine carolina casimiro catarina caterina cecilia cecilio celestina celestino celia celino celio celso cesare chiara chiarina cinzia cipriano ciriaco cirillo cirino ciro clara clarissa claudia claudio clelia clemente clementina cleto clio colombina columbano columbo concetta concetto consolata cornelia corrado cosima cosimo cosmo costantino costanzo crescenzo cristiana cristiano cristina cristoforo crocetta crocifissa dafne damiana damiano daniela daniele danilo dante daria dario davide delfina demetrio desiderio diana dino domenica domenico domitilla donata donatella donatello donato doriano dorotea duilio edda edmondo edoardo edvige efisio egidio elda elena eleonora elettra elia eliana eligia eligio elisa elisabetta eliseo elmo eloisa elpidio emanuele emidio emilia emiliana emiliano emilio ennio enrica enrico enzo ercole ermanno ermenegildo ermete ernesta ernesto estachio ettore eufemia eugenia eugenio eulalia eusebio eva evaristo evelina fabia fabiana fabiano fabio fabrizia fabrizio fausta faustina fausto fedele federica federico felice felicia feliciana feliciano felìcita ferdinanda ferdinando ferruccio fiammetta filiberto filippo filomena fioralba fiorella fiorenza fiorenzo firmino flavia flavio flora florentina floriana floriano fortunata fortunato franca francesca francesco franco fredo fulgenzio fulvia fulvio gabriele gabriella gaetana gaetano gaspare gasparo gavino geltrude gemma gennaro genoveffa gerardo germano gerolamo geronimo gervasio giachetta giacinta giacinto giacobbe giacomo giada giambattista giampaolo giampiero giancarlo gianfranco gianluca gianluigi gianmarco gianmaria gianna gianni giannino gianpaolo gianpiero gilberto gilda gina ginevra gino gioacchino gioachino gioconda giordano giorgia giorgina giorgino giorgio giosetta giosuè giovanna giovannetta giovanni giraldo girolamo gisella giuditta giulia giuliana giuliano giulietta giulio giuseppe giuseppina giustina giustino gloria goffredo grazia graziana graziano graziella gregorio gualtiero guerino guglielmo guido gustavo ignazio ilaria ilario imelda immacolata innocenzo ippolito irene isabella isaia isidora isidoro itala italo jacopo jolanda ladislao laura lauretta lauro lazzaro leandro lelia leonardo leone leonora leontina leonzio leopoldo letizia lia liana liberatore liboria liborio lidia lina livia liviana livio lodovico loredana lorena lorenza lorenzo loretta lothario luca lucia luciana luciano lucilla lucio lucrezia luigi luigina luigino luisa maddalena mafalda manfredo manlio marcella marcellino marcello marco margherita maria mariana mariangela mariano mariella marietta marina marino mario marisa marta martina martino marzio massimiliano massimo matteo mattia maura maurizio mauro melania melchiorre micaela michela michelangela michelangelo michele michelina milena mimi mina mirabella mirella modesto monica naldo narciso natale natalia natanaele nazario nerina nerio nero nestore nevio niccolò nico nicodemo nicola nicoletta nicolò nicomedo nicostrato nino noemi norina norma nunzia nunziatina nunzio olimpia orazio orfeo oriana orlando ornella orsina orsino orso osvaldo ottavia ottaviano ottavio palmira palmiro pancrazio panfilo pantaleone paola paolina paolino paolo paride pasquale pasqualina pasqualino patrizia patrizio paulina pellegrino perla pia piera pierina piero pietrina pietro pino placida placido pompeo ponzio porfirio primo prospero prudenzio quirino rachele raffaele raffaella raffaello raimonda raimondo raniero raul rebecca regina remigio remo renata renato renzo riccarda riccardo rico rina rinaldo rino rita roberta robertina roberto rocco rodolfo rodrigo romana romano romeo romilda romola romolo rosa rosabella rosalba rosalia rosangela rosanna rosella rosetta rosina rossella rufino ruggero ruggiero rut sabina sabino sabrina salvatore samanta samuela samuele sandra sandro sansone santa santino santo santuzza sara saturnino saverio savino savio scevola sebastiana sebastiano selvaggia serafina serafino serena sergio sesto severiano severina severino severo silvana silvano silvestra silvestro silvia silvio simona simonetta sofia sonia sophia stefania stefano susana susanna tacito taddeo tammaro tancredo tatiana teodora teodoro teodosio teofilo terenzio teresa timoteo tina tito tiziana tiziano tommaso tonio tore tullia tullio uberto ugo ulisse umberto urbana urbano valentina valentino valeria valerio vanda vasco velia venceslao veronica vespasiano vico vincenza vincenzo viola violetta virgilio virginia vitale vitalia vito vittore vittoria vittorino vittorio viviana zara zita

On va faire une liste des différentes lettres et on pourra ainsi remplacer le caractère dans chaine_prenom par son indice.

In [ ]:
liste_lettres = []

#Pour chaque lettre de la chaine, on ajoute la lettre à liste_lettres si elle n'est pas déjà dedans
for lettre in chaine_prenoms :
  if lettre not in liste_lettres :
    liste_lettres.append(lettre)

print("Nombre de caractères différents :",len(liste_lettres))
print(liste_lettres)
print('indice de la lettre h :', liste_lettres.index('h'))

Nombre de caractères différents : 37
['a', 'b', 'e', 'l', ' ', 's', 'o', 'n', 'c', 'h', 'i', 'd', 'r', 'm', 'é', 'ï', 'è', 'p', 'f', 'g', 't', 'k', 'x', 'u', 'v', 'y', 'q', 'z', 'j', 'w', 'ç', '-', 'ô', 'ë', 'í', 'ì', 'ò']
indice de la lettre h : 9

On va pouvoir créer les séquences glissées sur la chaîne de prénoms

In [ ]:
#On va créer les séquences et la lettre suivante en même temps
sequences = []
lettres_suivantes = []

#On récupère la longueur de la chaîne de prénoms :
longueur_chaine = len(chaine_prenoms)

#on va faire une boucle sur des indices entre 0 et longueur_chaine - longueur_sequence :
for indice in range(0, longueur_chaine - longueur_sequence) :
  #on récupère une séquence dans chaîne nombre située entre indice et indice + longueur_sequence
  sequence = chaine_prenoms[indice : indice + longueur_sequence]
  #on récupère la lettre suivante :
  lettre_suivante = chaine_prenoms[indice + longueur_sequence]

  #On ajoute ces derniers éléments à nos 2 listes
  sequences.append(sequence)
  lettres_suivantes.append(lettre_suivante)

print("Nombre de séquences :", len(sequences))
#Vérification sur les 10 premiers éléments et le dernier
#On utilise enumerate() pour récupérer l'indice et l'élément de la liste avec for
for indice,sequence in enumerate(sequences[:10]):
  print("Séquence :", sequence, "    Lettre suivante :",lettres_suivantes[indice])

print()
print("Dernières occurences :")
print("Séquence :", sequences[-1], "    Lettre suivante :",lettres_suivantes[-1])

Nombre de séquences : 13020
Séquence : abel absolon a     Lettre suivante : c
Séquence : bel absolon ac     Lettre suivante : h
Séquence : el absolon ach     Lettre suivante : i
Séquence : l absolon achi     Lettre suivante : l
Séquence :  absolon achil     Lettre suivante : l
Séquence : absolon achill     Lettre suivante : e
Séquence : bsolon achille     Lettre suivante :
Séquence : solon achille      Lettre suivante : a
Séquence : olon achille a     Lettre suivante : d
Séquence : lon achille ad     Lettre suivante : a

Dernières occurences :
Séquence : iana zara zita     Lettre suivante :

## Création des X, Y

In [ ]:
import numpy as np
from tensorflow.keras.utils import to_categorical

#On stocke la longueur de liste_lettres
categories = len(liste_lettres)

#on va commencer par créer les X
X=[]

#on crée une boucle sur les séquences
for sequence in sequences :
  #on va créer une liste vide pour récolter les indices des caractères
  liste = []
  for caractere in sequence :
    #on récupère l'indice correspondant au caractère
    indice = liste_lettres.index(caractere)
    #on ajoute l'indice à la liste
    liste.append(indice)

  #on convertit tout de suite avec to_categorical pour avoir un vecteur de proba de 26 éléments
  liste = to_categorical(liste,categories)
  #On ajoute la liste dans X
  X.append(liste)

X= np.asarray(X)
print(X.shape)

#pour les Y, on ne change pas de méthode
#il faut quand même convertir les caractères en indice
Y=[]
for caractere in lettres_suivantes :
  indice = liste_lettres.index(caractere)
  Y.append(indice)

#to_categorical
Y = to_categorical(Y,categories)

print(Y.shape)

(13020, 14, 37)
(13020, 37)

##Réseau de neurones avec LSTM

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

modele = Sequential()

#On ajoute en entrée une couche de neurones LSTM
modele.add(LSTM(64, input_shape = (longueur_sequence,categories), recurrent_dropout = 0.2))

#On ajoute la sortie
modele.add(Dense(categories, activation='softmax'))

modele.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_1 (LSTM)               (None, 64)                26112

 dense_1 (Dense)             (None, 37)                2405

=================================================================
Total params: 28,517
Trainable params: 28,517
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from tensorflow.keras.optimizers import RMSprop

optimizer = RMSprop(learning_rate = 0.01)

modele.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy',])

modele.fit(X, Y, batch_size = 32, epochs = 50)

modele.save('name_generator.h5')

Epoch 1/50
407/407 [==============================] - 9s 17ms/step - loss: 2.4346 - accuracy: 0.2618
Epoch 2/50
407/407 [==============================] - 7s 18ms/step - loss: 2.0517 - accuracy: 0.3714
Epoch 3/50
407/407 [==============================] - 7s 17ms/step - loss: 1.8049 - accuracy: 0.4504
Epoch 4/50
407/407 [==============================] - 7s 17ms/step - loss: 1.6554 - accuracy: 0.5018
Epoch 5/50
407/407 [==============================] - 7s 17ms/step - loss: 1.5531 - accuracy: 0.5280
Epoch 6/50
407/407 [==============================] - 7s 17ms/step - loss: 1.4860 - accuracy: 0.5492
Epoch 7/50
407/407 [==============================] - 7s 17ms/step - loss: 1.4364 - accuracy: 0.5660
Epoch 8/50
407/407 [==============================] - 7s 17ms/step - loss: 1.3926 - accuracy: 0.5743
Epoch 9/50
407/407 [==============================] - 7s 17ms/step - loss: 1.3600 - accuracy: 0.5843
Epoch 10/50
407/407 [==============================] - 7s 17ms/step - loss: 1.3267 - accuracy: 0.5889
Epoch 11/50
407/407 [==============================] - 7s 17ms/step - loss: 1.3030 - accuracy: 0.5995
Epoch 12/50
407/407 [==============================] - 7s 17ms/step - loss: 1.2783 - accuracy: 0.6076
Epoch 13/50
407/407 [==============================] - 7s 17ms/step - loss: 1.2563 - accuracy: 0.6159
Epoch 14/50
407/407 [==============================] - 7s 17ms/step - loss: 1.2361 - accuracy: 0.6187
Epoch 15/50
407/407 [==============================] - 7s 17ms/step - loss: 1.2277 - accuracy: 0.6204
Epoch 16/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1982 - accuracy: 0.6318
Epoch 17/50
407/407 [==============================] - 7s 17ms/step - loss: 1.2017 - accuracy: 0.6281
Epoch 18/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1779 - accuracy: 0.6374
Epoch 19/50
407/407 [==============================] - 8s 20ms/step - loss: 1.1654 - accuracy: 0.6435
Epoch 20/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1678 - accuracy: 0.6374
Epoch 21/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1525 - accuracy: 0.6470
Epoch 22/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1474 - accuracy: 0.6469
Epoch 23/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1312 - accuracy: 0.6495
Epoch 24/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1289 - accuracy: 0.6537
Epoch 25/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1194 - accuracy: 0.6566
Epoch 26/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1136 - accuracy: 0.6561
Epoch 27/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1104 - accuracy: 0.6516
Epoch 28/50
407/407 [==============================] - 7s 17ms/step - loss: 1.0842 - accuracy: 0.6654
Epoch 29/50
407/407 [==============================] - 7s 17ms/step - loss: 1.0889 - accuracy: 0.6631
Epoch 30/50
407/407 [==============================] - 7s 17ms/step - loss: 1.1018 - accuracy: 0.6591
Epoch 31/50
407/407 [==============================] - 7s 17ms/step - loss: 1.0853 - accuracy: 0.6608
Epoch 32/50
407/407 [==============================] - 7s 17ms/step - loss: 1.0803 - accuracy: 0.6673
Epoch 33/50
154/407 [==========>...................] - ETA: 4s - loss: 1.0415 - accuracy: 0.6751

KeyboardInterrupt: ignored

##Création du prédicteur

In [ ]:
#On va décider de la première lettre :
lettre = 'na'
#lettre = np.random.choice(liste_lettres)

lettres_choisies = lettre

#On récupère la dernière séquence ou une séquence de même taille de notre choix
#sequence="a zvonko zygmunt"
sequence="iana zara zita"

#On ajoute à la fin un caractère espace et la lettre choisie et on supprime les 2 premiers caractères
sequence += ' ' + lettre
sequence = sequence[1+len(lettre):]

#print(len(sequence),sequence)

#On crée une nouvelle chaine pour stocker les prénoms générés en commençant par la lettre choisie :
prenoms_generes = lettre

#On donne combien de noms vont être générés :
nombre_noms = 10

#On prend un compteur de caractères
nombre_lettres = 0

while nombre_noms > 0 :
  X = []

  #on recrée X
  for caractere in sequence :
    indice = liste_lettres.index(caractere)
    X.append(indice)

  #On to_categorical X
  X = to_categorical(X, categories)

  #il faut reshape X pour avoir un tenseur en 3 dimensions
  X = np.reshape(X, (1,X.shape[0],X.shape[1]))
  #print(X.shape)

  #On prédit le vecteur de probabilités
  probas = modele.predict(X, verbose = 0)
  probas = probas[0]

  #On choisit aléatoirement l'indice parmi les catégories en utilisant la distribution calculée
  indice = np.random.choice(categories, p=probas)

  #On ajoute au nombre de lettres dans le prénom
  nombre_lettres += 1

  #On récupère la lettre correspondante et on l'ajoute à la liste des prénoms
  lettre = liste_lettres[indice]
  prenoms_generes += lettre

  #On refait la séquence d'entrée du prédicteur
  sequence += lettre
  sequence = sequence[1:]

  #Si la lettre est le séparateur, on a nouveau nom
  if lettre == ' ' and nombre_lettres > 3:
    nombre_noms -= 1
    print("noms générés : ", 10 - nombre_noms)
    #remise à 0 du nombre de lettres
    nombre_lettres = 0


  #On refait la séquence pour commencer par les lettres choisies
  if lettre == ' ':
    sequence += lettres_choisies
    sequence = sequence[len(lettres_choisies):]
    #On réinitialise le début du prénom
    prenoms_generes += lettres_choisies


prenoms = prenoms_generes.split()
print("Voici les 10 prénoms générés")
for prenom in prenoms :
  if len(prenom) >= 3 and '(' not in prenom:
    print(prenom.capitalize())

noms générés :  1
noms générés :  2
noms générés :  3
noms générés :  4
noms générés :  5
noms générés :  6
noms générés :  7
noms générés :  8
noms générés :  9
noms générés :  10
Voici les 10 prénoms générés
Nardo
Natala
Nataniel
Natalio
Natalina
Naéline
Nannine
Nadtaes
Natheline
Nauenne

#Avec des Données récupérées sur Kaggle
https://www.kaggle.com/

On va récupérer les données d'un kaggle Pokemon : https://www.kaggle.com/datasets/abcsds/pokemon

##Affilier le Dataset de Kaggle à notre notebook

On va suivre ce tuto (sauf la partie Google Drive qui ralentit l'importation d'image) : [Tuto Kaggle](https://medium.com/analytics-vidhya/how-to-fetch-kaggle-datasets-into-google-colab-ea682569851a)

1.   Se connecter sur [Kaggle](https://www.kaggle.com/)
2.   On va sur Account pour expirer notre jeton API et en créer un nouveau
3.   On importe le fichier kaggle.json sur notre notebook
4.   On importe "l'environnement Kaggle" avec le code ci-dessous (on enlève toute référence à Drive par rapport au tuto)

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content"

5.   On va récupérer la commande API du dataset (en cliquant sur les 3 petits points à droite)
6.   On met dans le code un point d'exclamation ! puis on colle la commande du dataset.
7.   Il télécharge ensuite un fichier zip contenant le dataset dans nos fichiers.

In [ ]:
!kaggle datasets download -d abcsds/pokemon

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
Downloading pokemon.zip to /content
  0% 0.00/14.9k [00:00<?, ?B/s]
100% 14.9k/14.9k [00:00<00:00, 10.4MB/s]

8.   On va dézipper l'archive

In [ ]:
!unzip \*.zip

Archive:  pokemon.zip
  inflating: Pokemon.csv

In [ ]:
!rm \*.zip

rm: cannot remove '*.zip': No such file or directory

9.   ça y est notre Dataset est importé dans les fichiers

##Récupération du CSV

In [ ]:
import pandas as pd

data_pokemon = pd.read_csv("Pokemon.csv")

#data_prenoms.columns = ['prenom','genre','langage','frequence']
data_pokemon.sample(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
408,373,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
273,253,Grovyle,Grass,NaN,405,50,65,45,85,65,95,3,False
479,431,Glameow,Normal,NaN,310,49,55,42,42,37,85,4,False
665,604,Eelektross,Electric,NaN,515,85,115,80,105,80,50,5,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
128,119,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False
332,306,Aggron,Steel,Rock,530,70,110,180,60,60,50,3,False
215,200,Misdreavus,Ghost,NaN,435,60,60,60,85,85,85,2,False
586,527,Woobat,Psychic,Flying,313,55,45,43,55,43,72,5,False
252,233,Porygon2,Normal,NaN,515,85,80,90,105,95,60,2,False
475,428,Lopunny,Normal,NaN,480,65,76,84,54,96,105,4,False
562,503,Samurott,Water,NaN,528,95,100,85,108,70,70,5,False
637,576,Gothitelle,Psychic,NaN,490,70,55,95,95,110,65,5,False
209,194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False

In [ ]:
data_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [ ]:
from tqdm import tqdm

#On récupère la colonne avec les prénoms
prenoms = data_pokemon['Name']

#On supprime les éléments vide avec dropna
prenoms = prenoms.dropna()

#on la convertit en liste
liste_prenoms = []

for prenom in tqdm(prenoms):
  #On vérifie qu'il n'y ait pas de doublons
  if prenom not in liste_prenoms and 'Mega' not in prenom and 'Primal' not in prenom and ' X' not in prenom and ' Y' not in prenom :
    liste_prenoms.append(prenom)

100%|██████████| 800/800 [00:00<00:00, 94775.82it/s]

In [ ]:
print(len(liste_prenoms))

749

##Mise en forme des données
On va faire une chaîne de caractère qui joint tous les éléments de la liste.

Pour ce faire, on va utiliser la méthode str.join(list)

In [ ]:
#On commence par chercher la longueur des séquences
longueur_sequence = 0

#Il va falloir mettre cette longueur par rapport au plus long nom
for prenom in liste_prenoms :
  longueur = len(prenom)

  #si la longueur du prénom est plus grande que celle de la séquence, on update cette dernière
  if longueur > longueur_sequence :
    longueur_sequence = longueur

#On ajoute 1 pour prendre en compte le séparateur ' '
longueur_sequence += 1

print("Longueur des séquences :", longueur_sequence)

Longueur des séquences : 25

In [ ]:
#On peut maintenant faire notre chaîne de prénoms :
chaine_prenoms = ' '.join(liste_prenoms).lower()

#On ajoute un espace à la fin
chaine_prenoms += ' '

print("Chaîne des prénoms :", chaine_prenoms)

Chaîne des prénoms : bulbasaur ivysaur venusaur charmander charmeleon charizard squirtle wartortle blastoise caterpie metapod butterfree weedle kakuna beedrill pidgey pidgeotto pidgeot rattata raticate spearow fearow ekans arbok pikachu raichu sandshrew sandslash nidoran♀ nidorina nidoqueen nidoran♂ nidorino nidoking clefairy clefable vulpix ninetales jigglypuff wigglytuff zubat golbat oddish gloom vileplume paras parasect venonat venomoth diglett dugtrio meowth persian psyduck golduck mankey primeape growlithe arcanine poliwag poliwhirl poliwrath abra kadabra alakazam machop machoke machamp bellsprout weepinbell victreebel tentacool tentacruel geodude graveler golem ponyta rapidash slowpoke slowbro magnemite magneton farfetch'd doduo dodrio seel dewgong grimer muk shellder cloyster gastly haunter gengar onix drowzee hypno krabby kingler voltorb electrode exeggcute exeggutor cubone marowak hitmonlee hitmonchan lickitung koffing weezing rhyhorn rhydon chansey tangela kangaskhan horsea seadra goldeen seaking staryu starmie mr. mime scyther jynx electabuzz magmar pinsir tauros magikarp gyarados lapras ditto eevee vaporeon jolteon flareon porygon omanyte omastar kabuto kabutops aerodactyl snorlax articuno zapdos moltres dratini dragonair dragonite mewtwo mew chikorita bayleef cyndaquil quilava typhlosion totodile croconaw feraligatr sentret furret hoothoot noctowl ledyba ledian spinarak ariados crobat chinchou lanturn pichu cleffa igglybuff togepi togetic natu xatu mareep flaaffy ampharos bellossom marill azumarill sudowoodo politoed hoppip skiploom jumpluff aipom sunkern sunflora yanma wooper quagsire espeon umbreon murkrow slowking misdreavus unown wobbuffet girafarig pineco forretress dunsparce gligar steelix snubbull granbull qwilfish scizor shuckle heracross sneasel teddiursa ursaring slugma magcargo swinub piloswine corsola remoraid octillery delibird mantine skarmory houndour houndoom kingdra phanpy donphan porygon2 stantler smeargle tyrogue hitmontop smoochum elekid magby miltank blissey raikou entei suicune larvitar pupitar tyranitar lugia ho-oh celebi treecko grovyle sceptile torchic combusken blaziken mudkip marshtomp swampert poochyena mightyena zigzagoon linoone wurmple silcoon beautifly cascoon dustox lotad lombre ludicolo seedot nuzleaf shiftry taillow swellow wingull pelipper ralts kirlia gardevoir surskit masquerain shroomish breloom slakoth vigoroth slaking nincada ninjask shedinja whismur loudred exploud makuhita hariyama azurill nosepass skitty delcatty sableye mawile aron lairon aggron meditite medicham electrike manectric plusle minun volbeat illumise roselia gulpin swalot carvanha sharpedo wailmer wailord numel camerupt torkoal spoink grumpig spinda trapinch vibrava flygon cacnea cacturne swablu altaria zangoose seviper lunatone solrock barboach whiscash corphish crawdaunt baltoy claydol lileep cradily anorith armaldo feebas milotic castform kecleon shuppet banette duskull dusclops tropius chimecho absol wynaut snorunt glalie spheal sealeo walrein clamperl huntail gorebyss relicanth luvdisc bagon shelgon salamence beldum metang metagross regirock regice registeel latias latios kyogre groudon rayquaza jirachi deoxysnormal forme deoxysattack forme deoxysdefense forme deoxysspeed forme turtwig grotle torterra chimchar monferno infernape piplup prinplup empoleon starly staravia staraptor bidoof bibarel kricketot kricketune shinx luxio luxray budew roserade cranidos rampardos shieldon bastiodon burmy wormadamplant cloak wormadamsandy cloak wormadamtrash cloak mothim combee vespiquen pachirisu buizel floatzel cherubi cherrim shellos gastrodon ambipom drifloon drifblim buneary lopunny mismagius honchkrow glameow purugly chingling stunky skuntank bronzor bronzong bonsly mime jr. happiny chatot spiritomb gible gabite garchomp munchlax riolu lucario hippopotas hippowdon skorupi drapion croagunk toxicroak carnivine finneon lumineon mantyke snover abomasnow weavile magnezone lickilicky rhyperior tangrowth electivire magmortar togekiss yanmega leafeon glaceon gliscor mamoswine porygon-z gallade probopass dusknoir froslass rotom rotomheat rotom rotomwash rotom rotomfrost rotom rotomfan rotom rotommow rotom uxie mesprit azelf dialga palkia heatran regigigas giratinaaltered forme giratinaorigin forme cresselia phione manaphy darkrai shayminland forme shayminsky forme arceus victini snivy servine serperior tepig pignite emboar oshawott dewott samurott patrat watchog lillipup herdier stoutland purrloin liepard pansage simisage pansear simisear panpour simipour munna musharna pidove tranquill unfezant blitzle zebstrika roggenrola boldore gigalith woobat swoobat drilbur excadrill audino timburr gurdurr conkeldurr tympole palpitoad seismitoad throh sawk sewaddle swadloon leavanny venipede whirlipede scolipede cottonee whimsicott petilil lilligant basculin sandile krokorok krookodile darumaka darmanitanstandard mode darmanitanzen mode maractus dwebble crustle scraggy scrafty sigilyph yamask cofagrigus tirtouga carracosta archen archeops trubbish garbodor zorua zoroark minccino cinccino gothita gothorita gothitelle solosis duosion reuniclus ducklett swanna vanillite vanillish vanilluxe deerling sawsbuck emolga karrablast escavalier foongus amoonguss frillish jellicent alomomola joltik galvantula ferroseed ferrothorn klink klang klinklang tynamo eelektrik eelektross elgyem beheeyem litwick lampent chandelure axew fraxure haxorus cubchoo beartic cryogonal shelmet accelgor stunfisk mienfoo mienshao druddigon golett golurk pawniard bisharp bouffalant rufflet braviary vullaby mandibuzz heatmor durant deino zweilous hydreigon larvesta volcarona cobalion terrakion virizion tornadusincarnate forme tornadustherian forme thundurusincarnate forme thundurustherian forme reshiram zekrom landorusincarnate forme landorustherian forme kyurem kyuremblack kyurem kyuremwhite kyurem keldeoordinary forme keldeoresolute forme meloettaaria forme meloettapirouette forme genesect chespin quilladin chesnaught fennekin braixen delphox froakie frogadier greninja bunnelby diggersby fletchling fletchinder talonflame scatterbug spewpa vivillon litleo pyroar flabébé floette florges skiddo gogoat pancham pangoro furfrou espurr meowsticmale meowsticfemale honedge doublade aegislashblade forme aegislashshield forme spritzee aromatisse swirlix slurpuff inkay malamar binacle barbaracle skrelp dragalge clauncher clawitzer helioptile heliolisk tyrunt tyrantrum amaura aurorus sylveon hawlucha dedenne carbink goomy sliggoo goodra klefki phantump trevenant pumpkabooaverage size pumpkaboosmall size pumpkaboolarge size pumpkaboosuper size gourgeistaverage size gourgeistsmall size gourgeistlarge size gourgeistsuper size bergmite avalugg noibat noivern xerneas yveltal zygarde50% forme diancie hoopahoopa confined hoopahoopa unbound volcanion

On va faire une liste des différentes lettres et on pourra ainsi remplacer le caractère dans chaine_prenom par son indice.

In [ ]:
liste_lettres = []

#Pour chaque lettre de la chaine, on ajoute la lettre à liste_lettres si elle n'est pas déjà dedans
for lettre in chaine_prenoms :
  if lettre not in liste_lettres :
    liste_lettres.append(lettre)

print("Nombre de caractères différents :",len(liste_lettres))
print(liste_lettres)
print('indice de la lettre h :', liste_lettres.index('h'))

Nombre de caractères différents : 37
['b', 'u', 'l', 'a', 's', 'r', ' ', 'i', 'v', 'y', 'e', 'n', 'c', 'h', 'm', 'd', 'o', 'z', 'q', 't', 'w', 'p', 'f', 'k', 'g', '♀', '♂', 'x', 'j', "'", '.', '2', '-', 'é', '5', '0', '%']
indice de la lettre h : 13

On va pouvoir créer les séquences glissées sur la chaîne de prénoms

In [ ]:
#On va créer les séquences et la lettre suivante en même temps
sequences = []
lettres_suivantes = []

#On récupère la longueur de la chaîne de prénoms :
longueur_chaine = len(chaine_prenoms)

#on va faire une boucle sur des indices entre 0 et longueur_chaine - longueur_sequence :
for indice in range(0, longueur_chaine - longueur_sequence) :
  #on récupère une séquence dans chaîne nombre située entre indice et indice + longueur_sequence
  sequence = chaine_prenoms[indice : indice + longueur_sequence]
  #on récupère la lettre suivante :
  lettre_suivante = chaine_prenoms[indice + longueur_sequence]

  #On ajoute ces derniers éléments à nos 2 listes
  sequences.append(sequence)
  lettres_suivantes.append(lettre_suivante)

print("Nombre de séquences :", len(sequences))
#Vérification sur les 10 premiers éléments et le dernier
#On utilise enumerate() pour récupérer l'indice et l'élément de la liste avec for
for indice,sequence in enumerate(sequences[:10]):
  print("Séquence :", sequence, "    Lettre suivante :",lettres_suivantes[indice])

print()
print("Dernières occurences :")
print("Séquence :", sequences[-1], "    Lettre suivante :",lettres_suivantes[-1])

Nombre de séquences : 6775
Séquence : bulbasaur ivysaur venusau     Lettre suivante : r
Séquence : ulbasaur ivysaur venusaur     Lettre suivante :
Séquence : lbasaur ivysaur venusaur      Lettre suivante : c
Séquence : basaur ivysaur venusaur c     Lettre suivante : h
Séquence : asaur ivysaur venusaur ch     Lettre suivante : a
Séquence : saur ivysaur venusaur cha     Lettre suivante : r
Séquence : aur ivysaur venusaur char     Lettre suivante : m
Séquence : ur ivysaur venusaur charm     Lettre suivante : a
Séquence : r ivysaur venusaur charma     Lettre suivante : n
Séquence :  ivysaur venusaur charman     Lettre suivante : d

Dernières occurences :
Séquence : pahoopa unbound volcanion     Lettre suivante :

## Création des X, Y

In [ ]:
import numpy as np
from tensorflow.keras.utils import to_categorical

#On stocke la longueur de liste_lettres
categories = len(liste_lettres)

#on va commencer par créer les X
X=[]

#on crée une boucle sur les séquences
for sequence in sequences :
  #on va créer une liste vide pour récolter les indices des caractères
  liste = []
  for caractere in sequence :
    #on récupère l'indice correspondant au caractère
    indice = liste_lettres.index(caractere)
    #on ajoute l'indice à la liste
    liste.append(indice)

  #on convertit tout de suite avec to_categorical pour avoir un vecteur de proba de 26 éléments
  liste = to_categorical(liste,categories)
  #On ajoute la liste dans X
  X.append(liste)

X= np.asarray(X)
print(X.shape)

#pour les Y, on ne change pas de méthode
#il faut quand même convertir les caractères en indice
Y=[]
for caractere in lettres_suivantes :
  indice = liste_lettres.index(caractere)
  Y.append(indice)

#to_categorical
Y = to_categorical(Y,categories)

print(Y.shape)

(6775, 25, 37)
(6775, 37)

##Réseau de neurones avec LSTM

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

modele = Sequential()

#On ajoute en entrée une couche de neurones LSTM
modele.add(LSTM(64, input_shape = (longueur_sequence,categories), recurrent_dropout = 0.2))

#On ajoute la sortie
modele.add(Dense(categories, activation='softmax'))

modele.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 64)                26112

 dense_2 (Dense)             (None, 37)                2405

=================================================================
Total params: 28,517
Trainable params: 28,517
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from tensorflow.keras.optimizers import RMSprop

optimizer = RMSprop(learning_rate = 0.01)

modele.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy',])

modele.fit(X, Y, batch_size = 32, epochs = 50)

modele.save('name_generator.h5')

Epoch 1/50
212/212 [==============================] - 51s 29ms/step - loss: 2.8331 - accuracy: 0.1634
Epoch 2/50
212/212 [==============================] - 6s 29ms/step - loss: 2.5554 - accuracy: 0.2303
Epoch 3/50
212/212 [==============================] - 6s 29ms/step - loss: 2.4583 - accuracy: 0.2517
Epoch 4/50
212/212 [==============================] - 6s 29ms/step - loss: 2.3819 - accuracy: 0.2729
Epoch 5/50
212/212 [==============================] - 6s 29ms/step - loss: 2.3083 - accuracy: 0.2955
Epoch 6/50
212/212 [==============================] - 6s 29ms/step - loss: 2.2381 - accuracy: 0.3144
Epoch 7/50
212/212 [==============================] - 6s 28ms/step - loss: 2.1858 - accuracy: 0.3293
Epoch 8/50
212/212 [==============================] - 6s 29ms/step - loss: 2.1201 - accuracy: 0.3457
Epoch 9/50
212/212 [==============================] - 6s 29ms/step - loss: 2.0702 - accuracy: 0.3528
Epoch 10/50
212/212 [==============================] - 6s 29ms/step - loss: 2.0294 - accuracy: 0.3723
Epoch 11/50
212/212 [==============================] - 7s 33ms/step - loss: 1.9989 - accuracy: 0.3765
Epoch 12/50
212/212 [==============================] - 6s 29ms/step - loss: 1.9647 - accuracy: 0.3855
Epoch 13/50
212/212 [==============================] - 6s 29ms/step - loss: 1.9304 - accuracy: 0.3963
Epoch 14/50
212/212 [==============================] - 6s 29ms/step - loss: 1.9125 - accuracy: 0.3988
Epoch 15/50
212/212 [==============================] - 6s 29ms/step - loss: 1.8858 - accuracy: 0.4111
Epoch 16/50
212/212 [==============================] - 6s 29ms/step - loss: 1.8538 - accuracy: 0.4211
Epoch 17/50
212/212 [==============================] - 6s 29ms/step - loss: 1.8356 - accuracy: 0.4254
Epoch 18/50
212/212 [==============================] - 6s 29ms/step - loss: 1.8103 - accuracy: 0.4316
Epoch 19/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7959 - accuracy: 0.4387
Epoch 20/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7816 - accuracy: 0.4441
Epoch 21/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7675 - accuracy: 0.4523
Epoch 22/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7345 - accuracy: 0.4565
Epoch 23/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7176 - accuracy: 0.4623
Epoch 24/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7224 - accuracy: 0.4642
Epoch 25/50
212/212 [==============================] - 6s 29ms/step - loss: 1.7058 - accuracy: 0.4624
Epoch 26/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6820 - accuracy: 0.4784
Epoch 27/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6681 - accuracy: 0.4807
Epoch 28/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6615 - accuracy: 0.4781
Epoch 29/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6395 - accuracy: 0.4948
Epoch 30/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6357 - accuracy: 0.4869
Epoch 31/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6314 - accuracy: 0.4959
Epoch 32/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6385 - accuracy: 0.4875
Epoch 33/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6180 - accuracy: 0.4951
Epoch 34/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6010 - accuracy: 0.4951
Epoch 35/50
212/212 [==============================] - 6s 29ms/step - loss: 1.6002 - accuracy: 0.4949
Epoch 36/50
104/212 [=============>................] - ETA: 3s - loss: 1.5244 - accuracy: 0.5108

KeyboardInterrupt: ignored

##Création du prédicteur

In [ ]:
#On va décider de la première lettre :
lettre = 'na'
#lettre = np.random.choice(liste_lettres)

lettres_choisies = lettre

#On récupère la dernière séquence ou une séquence de même taille de notre choix
#sequence="a zvonko zygmunt"
sequence="pahoopa unbound volcanion"

#On ajoute à la fin un caractère espace et la lettre choisie et on supprime les 2 premiers caractères
sequence += ' ' + lettre
sequence = sequence[1+len(lettre):]

#print(len(sequence),sequence)

#On crée une nouvelle chaine pour stocker les prénoms générés en commençant par la lettre choisie :
prenoms_generes = lettre

#On donne combien de noms vont être générés :
nombre_noms = 10

#On prend un compteur de caractères
nombre_lettres = 0

while nombre_noms > 0 :
  X = []

  #on recrée X
  for caractere in sequence :
    indice = liste_lettres.index(caractere)
    X.append(indice)

  #On to_categorical X
  X = to_categorical(X, categories)

  #il faut reshape X pour avoir un tenseur en 3 dimensions
  X = np.reshape(X, (1,X.shape[0],X.shape[1]))
  #print(X.shape)

  #On prédit le vecteur de probabilités
  probas = modele.predict(X, verbose = 0)
  probas = probas[0]

  #On choisit aléatoirement l'indice parmi les catégories en utilisant la distribution calculée
  indice = np.random.choice(categories, p=probas)

  #On ajoute au nombre de lettres dans le prénom
  nombre_lettres += 1

  #On récupère la lettre correspondante et on l'ajoute à la liste des prénoms
  lettre = liste_lettres[indice]
  prenoms_generes += lettre

  #On refait la séquence d'entrée du prédicteur
  sequence += lettre
  sequence = sequence[1:]

  #Si la lettre est le séparateur, on a nouveau nom
  if lettre == ' ' and nombre_lettres > 3:
    nombre_noms -= 1
    print("noms générés : ", 10 - nombre_noms)
    #remise à 0 du nombre de lettres
    nombre_lettres = 0


  #On refait la séquence pour commencer par les lettres choisies
  if lettre == ' ':
    sequence += lettres_choisies
    sequence = sequence[len(lettres_choisies):]
    #On réinitialise le début du prénom
    prenoms_generes += lettres_choisies


prenoms = prenoms_generes.split()
print("Voici les 10 prénoms générés")
for prenom in prenoms :
  if len(prenom) >= 3 and '(' not in prenom:
    print(prenom.capitalize())

noms générés :  1
noms générés :  2
noms générés :  3
noms générés :  4
noms générés :  5
noms générés :  6
noms générés :  7
noms générés :  8
noms générés :  9
noms générés :  10
Voici les 10 prénoms générés
Nanccino
Nandave
Nadosmpla
Naudoninash
Nadotonz
Naincoke
Naunchan
Nancsee
Nanserin
Nangada